<h1>Listing posts</h1>
<div class="panel panel-default">
<% @posts.each do |post| %>
    <div class="panel-heading"><h5><%= link_to "#{post.title}", post %></h5></div>
    <div class="panel-body"><%= post.body %>
      <span class="pull-right custom-margin"><%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-sm btn-primary' %></span>
      <span class="pull-right custom-margin" ><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },  :class => 'btn btn-sm btn-danger' %></span>
    </div>
<% end %>
</div>

<br />

<%= link_to 'New Post', new_post_path, :class => 'btn btn-sm btn-primary' %>
